target/
!.mvn/wrapper/maven-wrapper.jar
/static/uploads/
/uploads/
*.class
*.log
*.ctxt
*.jar
*.war
*.zip
*.tar.gz
*.rar

# IDE specific files
.metadata
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.vscode/
.DS_Store

# Temporary files
database_dump.sql.tmp

# Antigravity artifacts
artifacts/
# Environment & Configuration files (Mencegah secret keys bocor ke GitHub)
*.yml
*.yaml
*.env

# Pengecualian! File infrastruktur ini AMAN untuk di-push
!docker-compose.yml
!.github/workflows/security.yml
